.email{
  color:rgb(100, 99, 99);
  margin-left: 5px;
  font-size: 18px;
}

.email-field{
  width:435px;
  
  padding-top:10px;
  padding-bottom:10px;
 
  border-style: solid;
  border-width:2px;
  border-radius:5px;
  margin-bottom: 15px;
}

.agreement{
  font-size: 17px;
  
  font-family:Arial;
  color:rgb(100, 99, 99);
  
}

button{
  width:437px;
 
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  border:none;
  color:white;
  background-color: rgb(45, 115, 207);
  font-size: large;
}